body{
    background-color: #B9150C
}

h1{
    background-color: #EFBA16;
    color:#055904;

}
h2{
    color: #EFBA16;
}
h3{
    color: #EFBA16;
}
footer{
   
    background-color:#EFBA16 ;
    font-size: larger;
     
    
}
button{
    background-color: #EFBA16;
    color: #8E0077;
}
